@font-face {
  font-family: "poppins";
  src: url(./Poppins/light/poppins.regular.ttf);
  color: #153556;
}
.text-dark {
  color: #153556 !important;
}
body {
  font-family: "poppins" !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #fc7d0d;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: #f5f5f5;
}
a:hover {
  text-decoration: none !important;
}
body {
  background-image: url("./assets/hash/placeholder.svg");
  background-repeat: no-repeat;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.header-bg {
  background-image: url("./assets/hash/bg shape.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: absolute;
  height: 55vh;
  width: 56vw;
  right: 0%;
  box-sizing: border-box;
}
#basic-navbar-nav {
  position: absolute;
  right: 2%;
  z-index: 9999;
  top: 72%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.nav-header {
  left: 12%;
}
.bg-trans {
  background-color: transparent !important;
}
.map-container {
  background-image: url("./assets/hash/Vector Smart Object.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  box-sizing: border-box;
  width: 44vw;
  height: 44vh;
  position: absolute;
  top: 25%;
  left: -7.5%;
}
.side-container {
  background-image: url("./assets/hash/circles.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  position: absolute;
  width: 52vw;
  height: 82vh;
  top: 11%;
  left: -19%;
  opacity: 80%;
}
.side-container-mid-part {
  background-image: url("./assets/hash/Path 1.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  position: absolute;
  width: 24vw;
  height: 24vh;
  top: 40%;
  left: -6%;
}
.services-bg {
  /* top: 175%; */
  /* position: absolute; */
  text-align: center;
}
.sr-only {
  color: black;
}
.container {
  position: absolute;
  top: 2%;
  margin: auto;
  text-align: center;
  left: 5%;
}
.img-logo {
  text-align: left;
  margin-left: 17%;
}
.nav-bar-header {
  position: absolute;
  top: 5%;
  left: 50%;
}
.home-link-nav-bar {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.about-link-nav-bar {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.services-link-nav-bar {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.portfolio-link-nav-bar {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.contact-link-nav-bar {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.home-link-nav-bar:hover {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.about-link-nav-bar:hover {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.services-link-nav-bar:hover {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.portfolio-link-nav-bar:hover {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.contact-link-nav-bar:hover {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.home-link-nav-bar:active {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.about-link-nav-bar:active {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.services-link-nav-bar:active {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.portfolio-link-nav-bar:active {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
}
.contact-link-nav-bar:active {
  border-bottom: 2px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.car-h-set {
  height: 85vh;
}
.carousel-indicators li {
  background-color: rgba(100, 99, 99, 0.5) !important;
  border: 3px solid rgba(100, 99, 99, 0.5);
  border-radius: 4px !important;
}
.carousel-indicators .active {
  background-color: #fd6704 !important;
  border: 3px solid #fd6704;
}
.carousel-1-content {
  text-align: left;
  margin-top: 15%;
  height: 100%;
  width: 60%;
}
.car-1-con-line {
  color: #fc7d0d;
  /* padding-bottom: ;   */
  box-sizing: border-box;
}
.car-1-con-h {
  /* font-weight:bolder; */
  font-size: 40px;
  color: #1d2a38;
  opacity: 1;
  font-family: arial, sans-serif;
}
.car-1-con-para {
  /* line-height: 20px; */
  padding-top: 2%;
  font-size: 14px;
  left: -3%;
  text-align: justify;
}
.car-1-con-para-detail {
  /* line-height: 20px; */
  padding-top: 2%;
  font-size: 14px;
  display: none;
  left: -3%;
  text-align: justify;
}
.crl-img {
  width: 30vw;
  /* box-sizing: border-box; */
  margin-top: 34%;
  /* padding-right: 18%; */
}
.btn-rdm-grd {
  outline: none !important;
  background-color: #fc7d0d;
  background-image: linear-gradient(to left, rgb(253, 99, 9), rgb(253, 147, 9));
  border-radius: 20px;
  border: 0px;
  color: white;
}
.btn-rdm-grd1 {
  outline: none !important;
  background-color: #fc7d0d;
  background-image: linear-gradient(to left, rgb(253, 99, 9), rgb(253, 147, 9));
  border-radius: 20px;
  border: 0px;
  color: white;
}
.btn-rdm-grd2 {
  outline: none !important;
  background-color: #fc7d0d;
  background-image: linear-gradient(to left, rgb(253, 99, 9), rgb(253, 147, 9));
  border-radius: 20px;
  border: 0px;
  color: white;
  display: none;
}
.fa-play {
  color: black;
}
.btn-bg-l {
  background-image: url("./assets/hash/play btn.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  outline: transparent;
  border: none;
  height: 10vh;
}
.btns-rdm-ply {
  display: inline;
  left: 5%;
}
.ply-btn-content {
  font-weight: 900;
  font-size: 16px;
}
.about-bg {
  background-image: url("./assets/hash/bg.svg");
  background-repeat: no-repeat;
  /* position: absolute; */
  /* width: 100vw;
  height: 100vh; */
  /* top: 100%; */
  text-align: center;
}
.card-mrkt {
  border: 1px solid rgb(248, 247, 247);
  /* height: 15vh; */
  background-color: white;
  box-shadow: 0px 0px 20px 5px #c2c1c126;
}
.mrkt-txt {
  color: #ccc;
  text-align: left;
}
.mrkt-ratio {
  color: #ff4c2f;
}
.card-user {
  border: 1px solid rgb(248, 247, 247);
  /* height: 15vh; */
  background-color: white;
  box-shadow: 0px 0px 20px 5px #c2c1c126;
}
.user-txt {
  color: #ccc;
  text-align: left;
}
.user-no {
  color: #08dd67;
}
.card-volume {
  border: 1px solid rgb(248, 247, 247);
  /* height: 15vh; */
  background-color: white;
  box-shadow: 0px 0px 20px 5px #c2c1c126;
}
.volume-txt {
  color: #ccc;
  text-align: left;
}
.volume-no {
  color: #08dd67;
}
.card-rate {
  border: 1px solid rgb(248, 247, 247);
  /* height: 15vh; */
  background-color: white;
  box-shadow: 0px 0px 20px 5px #c2c1c126;
}
.rate-txt {
  color: #ccc;
  text-align: left;
}
.rate-ratio {
  color: #ff4c2f;
}
.about-mtrl {
  text-align: left;
}
.about-hash {
  color: #ff6600;
}
.about-us1 {
  font-size: 14px;
  color: black;
}
.about-us2 {
  font-size: 14px;
  color: black;
  display: none;
}
.services-prt {
  color: #ff6600;
  font-weight: bold;
}
.ser-h {
  font-weight: bold;
}
.ser-para {
  font-size: 14px;
}
.card-consulting:hover {
  box-shadow: 0px 0px 11px 2px #80808052;
  border-radius: 5px;
}
.img-conslt {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 0px 0px 11px 2px #80808052;
}
.grp-cnslt-img {
  /* width: 3vw; */
}
.conslt-para {
  font-size: 13px;
}
.card-venture:hover {
  box-shadow: 0px 0px 11px 2px #80808052;
  border-radius: 5px;
}
.img-venture {
  width: 4vw;
  height: auto;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 0px 0px 11px 2px #80808052;
}
.lh-1 {
  line-height: 1;
}
.grp-vent-img {
  /* width: 3vw; */
}
.h-vent {
  color: #fd6704;
}
.vent-para {
  font-size: 13px;
}
.card-technology:hover {
  box-shadow: 0px 0px 11px 2px #80808052;
  border-radius: 5px;
}
.img-tech {
  width: 4vw;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 0px 0px 11px 2px #80808052;
}
.grp-tech-img {
  /* width: 2.8vw; */
}
.tech-para {
  font-size: 13px;
}
.portfolio-bg {
  background-image: url("./assets/hash/bg-portfolio.svg");
  background-repeat: no-repeat;
  /* position:static; */
  width: 100vw;
  /* top: 235%; */
  text-align: center;
}
.portfolio {
  right: 2%;
  text-align: center;
}
.porthash {
  color: white;
  font-size: 10px;
  text-align: center;
}
.port-h {
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 2%;
}
.port-chain {
  border: 1px solid white;
}
.chain-img {
  /* width: 2vw; */
}
.chain-txt {
  color: white;
  font-size: 30px;
}
.quote-para {
  font-size: 15px;
}
.footer-con-bg {
  background-color: rgb(247, 245, 245);
  background-repeat: no-repeat;
  /* position: absolute; */
  /* top: 293%; */
  text-align: center;
}
.con-name {
  text-align: left;
  color: rgb(150, 149, 149);
}
#name {
  outline: white;
  border: none;
  border-bottom: 1px solid rgb(150, 149, 149);
  width: 29vw;
  background-color: transparent;
}
#name:focus {
  outline: white;
  border: none;
  border-bottom: 2px solid #fd6704;
  width: 29vw;
  background-color: transparent;
}
.phone-no {
  text-align: left;
  color: rgb(150, 149, 149);
}
#tel {
  outline: white;
  border: none;
  border-bottom: 1px solid rgb(150, 149, 149);
  width: 29vw;
  background-color: transparent;
}
#tel:focus {
  outline: white;
  border: none;
  border-bottom: 2px solid #fd6704;
  width: 29vw;
  background-color: transparent;
}
.message {
  text-align: left;
  color: rgb(150, 149, 149);
}
#message {
  outline: white;
  border: none;
  border-bottom: 1px solid rgb(150, 149, 149);
  width: 60.5vw;
  background-color: transparent;
}
#message:focus {
  outline: white;
  border: none;
  border-bottom: 2px solid #fd6704;
  width: 60.5vw;
  background-color: transparent;
}
.con-sub-btn {
  text-align: right;
  right: -11%;
}
.btn-sbt-grd {
  outline: none !important;
  background-color: #fc7d0d;
  background-image: linear-gradient(to left, rgb(253, 99, 9), rgb(253, 147, 9));
  border-radius: 20px;
  border: 0px;
  color: white;
}
.footer {
  background-image: url("./assets/hash/Rectangle 1191.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ftr-data {
  /* float: left;  */
  /* left: -4%; */
}
.ftr-follow {
  font-weight: 600;
  text-align: right;
  top: 4%;
  right: 14%;
}
.ftr-icon a {
  color: #fd6704;
}
.ftr-icon a:hover {
  color: #fd6704;
}
.nav-bar-footer {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  left: 4%;
}
.home-link-nav-ftr {
  text-decoration: none;
  color: #010;
  padding: 10px;
}
.home-link-nav-ftr:hover {
  text-decoration: none;
  color: #fd6704;
  padding: 10px;
}
.about-link-nav-ftr {
  text-decoration: none;
  color: #010;
  padding: 10px;
}
.about-link-nav-ftr:hover {
  text-decoration: none;
  color: #fd6704;
  padding: 10px;
}
.services-link-nav-ftr {
  text-decoration: none;
  color: #010;
  padding: 10px;
}
.services-link-nav-ftr:hover {
  text-decoration: none;
  color: #fd6704;
  padding: 10px;
}
.portfolio-link-nav-ftr {
  text-decoration: none;
  color: #010;
  padding: 10px;
}
.portfolio-link-nav-ftr:hover {
  text-decoration: none;
  color: #fd6704;
  padding: 10px;
}
.contact-link-nav-ftr {
  text-decoration: none;
  color: #010;
  padding: 10px;
}
.contact-link-nav-ftr:hover {
  text-decoration: none;
  color: #fd6704;
  padding: 10px;
}
.ftr-hr {
  color: #ccc;
}
.ftr-txt {
  color: rgb(184, 183, 183);
  font-size: 10px;
  text-align: left;
  float: left;
  left: -3%;
}
.ftr-txt a {
  color: rgb(187, 187, 187);
}
.ftr-txt a:hover {
  color: rgb(153, 152, 152);
  text-decoration: none;
}
.ftr-rgstr {
  color: #fd6704;
  font-size: 9px;
  float: right;
}
.active {
  border-bottom: 2px solid white;
  border-radius: 2px;
}
@media only screen and (min-width: 320px) {
  .header-bg {
    width: 60%;
    top: -5%;
  }
  .about-bg {
    background-repeat: no-repeat;
    text-align: center;
  }
  .services-bg {
    text-align: center;
  }
  .portfolio-bg {
    background-repeat: no-repeat;
    text-align: center;
  }
  .footer-con-bg {
    background-color: rgb(247, 245, 245);
    background-repeat: no-repeat;
    text-align: center;
  }
  .img-conslt {
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 11px 2px #80808052;
  }
  .img-venture {
    width: 6vw;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 11px 2px #80808052;
  }
  .img-tech {
    width: 6vw;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 11px 2px #80808052;
  }
  #message {
    outline: white;
    border: none;
    border-bottom: 1px solid rgb(150, 149, 149);
    width: 83.5vw;
    background-color: transparent;
  }
  #tel {
    outline: white;
    border: none;
    border-bottom: 1px solid rgb(150, 149, 149);
    width: 42vw;
    background-color: transparent;
  }
  #name {
    outline: white;
    border: none;
    border-bottom: 1px solid rgb(150, 149, 149);
    width: 38vw;
    background-color: transparent;
  }
  .footer {
    background-repeat: no-repeat;
    background-size: contain;
  }
  .ftr-follow {
    font-weight: 600;
    text-align: right;
    top: 15%;
    right: 3%;
  }
  .ftr-rgstr {
    color: #fd6704;
    font-size: 9px;
    text-align: right;
    float: right;
    right: 1%;
  }
}

@media (max-width: 1200px) {
  .header-bg {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: auto;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 760px) {
  .header-bg {
    height: 100vh;
    width: 58vw;
    top: -22%;
    box-sizing: border-box;
  }
  .about-bg {
    background-repeat: no-repeat;
    text-align: center;
  }
  .services-bg {
    text-align: center;
  }
  .portfolio-bg {
    background-repeat: no-repeat;
    text-align: center;
  }
  .footer-con-bg {
    background-color: rgb(247, 245, 245);
    background-repeat: no-repeat;
    text-align: center;
  }
  .img-conslt {
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 11px 2px #80808052;
  }
  .img-venture {
    width: 6vw;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 11px 2px #80808052;
  }
  .img-tech {
    width: 6vw;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 11px 2px #80808052;
  }
  #message {
    outline: white;
    border: none;
    border-bottom: 1px solid rgb(150, 149, 149);
    width: 84vw;
    background-color: transparent;
  }
  #tel {
    outline: white;
    border: none;
    border-bottom: 1px solid rgb(150, 149, 149);
    width: 42vw;
    background-color: transparent;
  }

  #name {
    outline: white;
    border: none;
    border-bottom: 1px solid rgb(150, 149, 149);
    width: 39vw;
    background-color: transparent;
  }
  .footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .ftr-follow {
    font-weight: 600;
    text-align: right;
    top: 15%;
    right: 3%;
  }
  .ftr-rgstr {
    color: #fd6704;
    font-size: 9px;
    text-align: right;
    float: right;
    right: 1%;
  }
}
